<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Reddit Recommend</title>
  <meta name="description" content="Recommends Subreddits based on Reddit account history">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.css">
  <link rel="stylesheet" href="stylesheets/styles.css?v=1.0">
</head>

<body>
    <div style="position:fixed; width:100%; height:100%; overflow:hidden; color:#888; font-family:Lucida console,serif; font-size:10px;">
        {{words}}
    </div>
    <div id="container">
        <div class="block" style="cursor:pointer" id="title-block">
            <div id="title" class="block-inner">
            </div>
        </div>
        <div class="block" id="submit-block">
            <div class="block-inner">
                <h1>Try it Out:</h1>
                <div id="holder" style="width:100%;">
                    <div id="user-label" style="margin-bottom: 10px">
                        <div id="user-label-span" >
                            <label for="user-input" id="sType-label">reddit.com/u/</label>
                        </div>
                        <input placeholder="username" id="user-input" type="text">
                        <input value="Go" type="button" name="submit-username" id="submit-username">
                    </div >
                    <input type="button" id="options-button" value="Options"><br>
                    <div id="options-panel" style="display:none;">
                        <span>How many comments should be pulled? (</span><span id="amount">4</span>)
                    <div id="slider"></div>
                    </div>
                    Search for:<br>
                        <div style="padding:5px;width:100%;border-radius:5px; margin-top:5px; background-color:#fff; color:#800000">
                            <form>
                                <input onclick="$('#sType-label').html('reddit.com/u/')"  class="radio" name="sType" value="recommendation" id="recommendation" type="radio" checked="true">Recommendations
                                <input onclick="$('#sType-label').html('reddit.com/r/')" class="radio" name="sType" value="subreddit" id="subreddit" type="radio">By Subreddit
                                <input onclick="$('#sType-label').html('Term: ')"  class="radio" name="sType" value="term" id="term-b" type="radio">By Term
                            </form>
                        </div>
                    <div style="margin-top:10px;" id="operation-description">
                    We'll pull your comment history from reddit and try to give you some new subreddit suggestions.
                    </div>
                </div>
            </div>
        </div>
        <div class="block" id="loading-block">
            <div class="block-inner">
                <h1>Loading...</h1>
                <div id="holder" style="width:100%;">
                    Please wait while we fetch your results!
                    <div id="loading-log">
                        <ul id="loading-log-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="block" id="statistics-block">
            <div class="block-inner">
                <h1>Statistics: </h1>
                <div id="holder" style="width:100%; ">
                    <p id="stat-paragraph">
                    We pulled <span class="stat" id="stat-comment-num">3200</span> tokens and compared them to our database of <span class="stat">123,992</span> tokens from <span class="stat">7667</span> subreddits. With these results, we were able to make <span class="stat">20</span> recommendations.
                    </p>
                </div>
            </div>
        </div>
        <div class="block" id="recommendations-block">
            <div class="block-inner">
                <h1>Recomendations: </h1>
                <div id="holder" style="width:100%;">
                    <table style="width:100%;">
                        <tbody id="results-table">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="block" id="subreddit-block" style="display:none">
            <div class="block-inner">
                <h1>/r/<span class="subreddit-name"></span></h1>
                Url: <span id="link"></span>
                <div id="subreddit-content" style="width:100%; height:200px; overflow-y:auto; color:#ddd; font-size:14px; font-weight: normal; overflow-x:hidden">Descriptive content</div>
                <h2>Terms:</h2>
                <div id="terms" style="margin-top:5px; border-radius:5px; border:10px white solid; padding:5px; width:calc(100% - 30px); height:120px; overflow-y:auto; background:#333;">
                    Tags
                </div>
            </div>
        </div>
        <div class="block" id="term-block" style="display:none">
            <div class="block-inner">
                <h1>Term: <span class="term-name"></span></h1>
                Occurances: <span id="term-count"></span><br>
                Rank: <span id="term-rank"></span><br>
               <h2>Occurances:</h2>
                <div id="term-occurances" style="margin-top:5px; border-radius:5px; border:10px white solid; padding:5px; width:calc(100% - 30px); height:120px; overflow-y:auto; background:#333;">
                    Tags
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="static/main.js"></script>
</body>
</html>